@import "tailwindcss";

@layer base {
  :root {
    --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;

    --background: 0 0% 0%;
    --foreground: 0 0% 100%;

    --primary: 221 83% 31%;
    --primary-foreground: 0 0% 100%;

    --border: 0 0% 10%;
    --input: 0 0% 10%;

    --radius: 0.5rem;
  }
}

@theme {
  --font-sans: var(--font-inter);
  --color-border: hsl(var(--border));
  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-in: animate-in 0.7s ease-out;

  @keyframes animate-in {
    from {
      opacity: 0;
      transform: scale(0.95) translateY(10px);
    }
    to {
      opacity: 1;
      transform: scale(1) translateY(0);
    }
  }

  @keyframes slide-in-top {
    from {
      transform: translateY(-20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
